@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>City</h1>
@ViewData["name"]<br />
<h1>Latitude and Langitude</h1>
@ViewData["lat"]
@ViewData["lng"]<br />
<h1> Current Temperature</h1>
@ViewData["TempData"]*f<br />
<h1>Weekly Forcast</h1>
@ViewData["summary"]